[project]
name = "bookwalker-email-parser"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "black>=25.12.0",
    "isort>=7.0.0",
]

[tool.isort]
profile = "black"
